ul {
    background-color: #542c5c;
    padding: 20px;
    text-align: left;
    list-style-type: square;
    color: blue;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
}

li {
    font-size: x-large;
    margin-left: 10px;
}

div {
    text-align: center;
}

input {
    font-size: large;
}

label {
    font-size: larger;
}

h1 {
    color: White;
}

h2 {
    color: whitesmoke;
    margin-top: 3px;
}

p,button,h3 {
    color:whitesmoke;
}

a {
    color: #1a0dab
}

form {
    font-size: larger;
}